<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.fgl.cordova"
    version="1.0.0">

    <name>Adsorb Plugin</name>
    <description>Cordova plugin for Adsorb</description>
    <author>FGL</author>
	 <license>BSD</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/adsorb.js" name="Adsorb">
        <clobbers target="Adsorb" />
    </js-module>

    <access origin="*" />

    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*" >
           <feature name="Adsorb">
              <param name="android-package" value="com.fgl.cordova.AdsorbCordova" />
              <param name="onload" value="true" />
           </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*" >
           <uses-permission android:name="android.permission.INTERNET" />
           <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        <source-file src="src/android/AdsorbCordova.java" target-dir="src/com/fgl/cordova" />
        <source-file src="src/android/FGL-Android-Connector.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/android-support-v4.jar" target-dir="libs" framework="true" />
    </platform>
</plugin>
